In [58]:
import pandas as pd

In [59]:
df = pd.read_csv("datasets/services.csv" )

In [60]:
df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [61]:
df.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [62]:
df['Country']

0                          Chile
1                       Djibouti
2            Antigua and Barbuda
3             Dominican Republic
4     Slovakia (Slovak Republic)
                 ...
95                        Guyana
96                     Sri Lanka
97               Solomon Islands
98                         Aruba
99                      Honduras
Name: Country, Length: 100, dtype: object

In [63]:
df[['Phone 1','Email']]

                   Phone 1                           Email
0             229.077.5154        zunigavanessa@smith.info
1               5153435776                 vmata@colon.com
2          +1-539-402-0259             beckycarr@hogan.com
3   001-808-617-6467x12895     stanleyblackwell@benson.org
4   001-234-203-0635x76146         colinalvarado@miles.net
..                     ...                             ...
95     (188)169-1674x58692                hhart@jensen.com
96         +1-846-706-2218               vkemp@ferrell.com
97    +1-753-067-8419x7170                swagner@kane.org
98           (530)311-9786  mccarthystephen@horn-green.biz
99           (753)813-6941          colleen91@faulkner.biz

[100 rows x 2 columns]

In [64]:
type(df['Phone 1'])

pandas.core.series.Series

In [65]:
type(df[['Phone 1','Email']])

pandas.core.frame.DataFrame

In [66]:
type(5)

int

In [67]:
df['Email']

0           zunigavanessa@smith.info
1                    vmata@colon.com
2                beckycarr@hogan.com
3        stanleyblackwell@benson.org
4            colinalvarado@miles.net
                   ...
95                  hhart@jensen.com
96                 vkemp@ferrell.com
97                  swagner@kane.org
98    mccarthystephen@horn-green.biz
99            colleen91@faulkner.biz
Name: Email, Length: 100, dtype: object

In [68]:
df[['Email']]

                             Email
0         zunigavanessa@smith.info
1                  vmata@colon.com
2              beckycarr@hogan.com
3      stanleyblackwell@benson.org
4          colinalvarado@miles.net
..                             ...
95                hhart@jensen.com
96               vkemp@ferrell.com
97                swagner@kane.org
98  mccarthystephen@horn-green.biz
99          colleen91@faulkner.biz

[100 rows x 1 columns]

In [69]:
list(df['Email'])

['zunigavanessa@smith.info',
 'vmata@colon.com',
 'beckycarr@hogan.com',
 'stanleyblackwell@benson.org',
 'colinalvarado@miles.net',
 'louis27@gilbert.com',
 'tgates@cantrell.com',
 'asnow@colon.com',
 'mariokhan@ryan-pope.org',
 'mdyer@escobar.net',
 'kirksalas@webb.com',
 'mark42@robbins.com',
 'alex56@walls.org',
 'holdenmiranda@clarke.com',
 'cassieparrish@blevins-chapman.net',
 'vduncan@parks-hardy.com',
 'holtgwendolyn@watson-davenport.com',
 'jaredjuarez@carroll.org',
 'joseph26@jacobson.com',
 'tuckerangie@salazar.net',
 'fgibson@drake-webb.com',
 'blanchardbob@wallace-shannon.com',
 'rsingleton@ryan-cherry.com',
 'stefanie71@spence.com',
 'mariah88@santos.com',
 'donnamullins@norris-barrett.org',
 'stacey67@fields.org',
 'jacobkhan@bright.biz',
 'wterrell@clark.com',
 'qjimenez@boyd.com',
 'gfigueroa@boone-zavala.com',
 'tapiagreg@beard.info',
 'coleolson@jennings.net',
 'georgeross@miles.org',
 'willistonya@randolph-baker.com',
 'harrisisaiah@jenkins.com',
 'fwolfe@dorsey.com',
 'tiffanydavies@harris-mcfarland.org',
 'preese@frye-vega.com',
 'ann48@miller.com',
 'tcummings@fitzpatrick-ashley.com',
 'woodwardandres@phelps.com',
 'barbarapittman@holder.com',
 'bstuart@williamson-mcclure.com',
 'zkrueger@wolf-chavez.net',
 'juan80@henson.net',
 'bauercrystal@gay.com',
 'bartlettjenna@zuniga-moss.biz',
 'mccalltyrone@durham-rose.biz',
 'bobhammond@barry.biz',
 'uwarner@steele-arias.com',
 'xpittman@ritter-carney.net',
 'vaughanchristy@lara.biz',
 'clinton85@colon-arias.org',
 'greenemiranda@zimmerman.com',
 'goodmancesar@figueroa.biz',
 'yhanson@warner-diaz.org',
 'howelldarren@house-cohen.com',
 'ncamacho@boone-simmons.org',
 'kristopher62@oliver.com',
 'mpham@rios-guzman.com',
 'zachary96@mitchell-bryant.org',
 'kristiwhitney@bernard.com',
 'leah85@sutton-terrell.com',
 'levigiles@vincent.com',
 'fisherlinda@schaefer.net',
 'scottcurtis@hurley.biz',
 'nicholsonnina@montgomery.info',
 'zvalencia@phelps.com',
 'alex06@galloway.com',
 'lee48@manning.com',
 'aharper@maddox-townsend.org',
 'buckleycory@odonnell.net',
 'angie04@oconnell.com',
 'zrosario@rojas-hardin.net',
 'shieldskerry@robles.com',
 'mchandler@cochran-huerta.org',
 'katrinalane@fitzgerald.com',
 'cookejill@powell.com',
 'elizabethbarr@ewing.com',
 'corey75@wiggins.com',
 'chloelester@higgins-wilkinson.com',
 'isaac26@benton-finley.com',
 'justinwalters@jimenez.com',
 'maurice46@morgan.com',
 'walter83@juarez.org',
 'kmercer@wagner.com',
 'vcantu@norton.com',
 'hilljesse@barrett.info',
 'tyrone77@valenzuela.info',
 'elliserica@frank.com',
 'nsteele@sparks.com',
 'dudleyemily@gonzales.biz',
 'alan79@gates-mclaughlin.com',
 'grayjean@lowery-good.com',
 'hhart@jensen.com',
 'vkemp@ferrell.com',
 'swagner@kane.org',
 'mccarthystephen@horn-green.biz',
 'colleen91@faulkner.biz']

In [70]:
link = pd.read_csv("https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/customers/customers-100.csv")

In [71]:
link

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [72]:
link.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [73]:
link[['Customer Id', 'First Name', 'Last Name', 'Company', 'City']]

,Customer Id,First Name,Last Name,Company,City
0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester
2,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla
...,...,...,...,...,...
95,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard
96,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview
97,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland
98,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
99,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [74]:
link.to_csv("linkdld.csv",index =False)

In [75]:
df.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [76]:
df.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [77]:
titan = pd.read_csv("https://gist.githubusercontent.com/fyyying/4aa5b471860321d7b47fd881898162b7/raw/6907bb3a38bfbb6fccf3a8b1edfb90e39714d14f/titanic_dataset.csv")

In [78]:
titan.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [79]:
titan.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [80]:
titan.dtypes[titan.dtypes =='float64']

Age     float64
Fare    float64
dtype: object

In [81]:
titan.dtypes[titan.dtypes =='float64'].index

Index(['Age', 'Fare'], dtype='object')

In [82]:
titanint=titan[titan.dtypes[titan.dtypes =='float64'].index]

In [83]:
titanint.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500