# Target Guided Ordinal Encoded
#### Target-guided ordinal encoding is a technique used to encode categorical variables for machine learning models. This encoding technique is particularly useful when the target variable is ordinal, meaning that it has a natural order, such as low, medium, and high.

In [1]:
import pandas as pd

In [7]:
data = pd.DataFrame({
    'Qualification' : ['Phd.','Bsc','BCA','BTech','Bsc','Phd.'],
    'Salary' : [5000,2000,3000,3400,3000,5000]
})

In [16]:
salary_mean=data.groupby('Qualification')['Salary'].mean().to_dict()

In [21]:
data["Rank"] = data['Qualification'].map(salary_mean)

In [22]:
data

  Qualification  Salary    Rank
0          Phd.    5000  5000.0
1           Bsc    2000  2500.0
2           BCA    3000  3000.0
3         BTech    3400  3400.0
4           Bsc    3000  2500.0
5          Phd.    5000  5000.0