In [147]:
import pandas as pd
import seaborn as sns

In [148]:
df = sns.load_dataset('tips')

In [149]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [150]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [151]:
X = df.drop('time',axis = 1)

In [152]:
from sklearn.preprocessing import LabelEncoder

In [153]:
encoder = LabelEncoder()

In [154]:
df['time']= encoder.fit_transform(df['time'])

In [155]:
y= df.time

In [156]:
y.unique()

array([0, 1])

In [157]:
from sklearn.model_selection import train_test_split

In [158]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.20,random_state=42)

In [159]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((195, 6), (49, 6), (195,), (49,))

In [160]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [161]:
num_categorical_data = ['total_bill','tip','size']
obj_categorical_data = ['sex','smoker','day']

In [162]:
num_pipeline = Pipeline(steps = [
    ('imputer',SimpleImputer(strategy='median')),#handling missing values
    ('scaler',StandardScaler())#feature scaling
])


obj_pipeline = Pipeline(steps = [
    ('imputer',SimpleImputer(strategy='most_frequent')),#handling missing values
    ('encoder',OneHotEncoder()) # categorical feature to numerical feature
])

In [163]:
processor = ColumnTransformer(
    [
        ('num_categorical_data',num_pipeline,num_categorical_data),
        ('obj_categorical_data',obj_pipeline,obj_categorical_data)
    ]
)

In [164]:
X_train = processor.fit_transform(X_train)

In [165]:
X_test = processor.fit_transform(X_test)

In [166]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [167]:
model = {
    'Random Forest' : RandomForestClassifier(),
    'LogisticRegression' : LogisticRegression(),
    'DecisionTree' : DecisionTreeClassifier()
}

In [168]:
for i in range(len(model)):
    print(list(model.values())[i])

RandomForestClassifier()
LogisticRegression()
DecisionTreeClassifier()

In [171]:
def report_generator(X_train,X_test,y_train,y_test,model):
    report = {}
    for i in range(len(model)):
        Predictmodel = list(model.values())[i]
        Predictmodel.fit(X_train,y_train)
        y_predict = Predictmodel.predict(X_test)

        test_model_score = accuracy_score(y_test,y_predict)
        report[list(model.keys())[i]] = test_model_score
    return report

In [172]:
report_generator(X_train,X_test,y_train,y_test,model)

{'Random Forest': 0.9795918367346939,
 'LogisticRegression': 1.0,
 'DecisionTree': 0.9795918367346939}