In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [8]:
data= pd.read_csv("height_weight.csv")

In [15]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [16]:
data.head()

   Height  Weight
0     135      40
1     170      56
2     160      70
3     154      56
4     123      65