In [3]:
import pandas as pd

In [4]:
titan = pd.read_csv("https://gist.githubusercontent.com/fyyying/4aa5b471860321d7b47fd881898162b7/raw/6907bb3a38bfbb6fccf3a8b1edfb90e39714d14f/titanic_dataset.csv")

In [5]:
titan.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
data= titan['Name'].head(5)

In [7]:
data

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [8]:
data[0]

'Braund, Mr. Owen Harris'

In [9]:
data[4]

'Allen, Mr. William Henry'

In [10]:
newdata= pd.Series(list(data),index=['a','b','c','d','e'])

In [11]:
newdata

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
dtype: object

In [12]:
newdata['d']

'Futrelle, Mrs. Jacques Heath (Lily May Peel)'

In [13]:
newdata[3]

'Futrelle, Mrs. Jacques Heath (Lily May Peel)'

In [14]:
ser = pd.Series(["karan","rohan","sohan","vicky","ankit"],index=[10,20,30,40,50])

In [22]:
s = pd.concat([newdata,ser])

In [23]:
s

a                               Braund, Mr. Owen Harris
b     Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                Heikkinen, Miss. Laina
d          Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                              Allen, Mr. William Henry
10                                                karan
20                                                rohan
30                                                sohan
40                                                vicky
50                                                ankit
dtype: object

In [29]:
s[50] + s[30]

'ankitsohan'