## Handling Imbalanced Dataset
#### 1.Upsampling
#### 2.Downsampling

In [71]:
#import libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [72]:
#stop generating numbers and fix the values
np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(class_0_ratio * n_samples)
n_class_1 = int(n_samples - n_class_0)

In [73]:
n_class_0,n_class_1

(900, 100)

In [74]:
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc = 0 , scale = 1 , size = n_class_0),
    'feature_2':np.random.normal(loc = 0 , scale = 1 ,size = n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc = 2 , scale = 1 , size = n_class_1),
    'feature_2':np.random.normal(loc = 2 , scale = 1 ,size = n_class_1),
    'target': [1]*n_class_1
})

In [75]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [76]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [77]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### Targeting samples

In [78]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [79]:
df_minority.value_counts().sum()

100

In [80]:
df_majority.value_counts().sum()

900

### Upsampling

In [81]:
from sklearn.utils import resample

In [82]:
df_minority_upsampling_data = resample(
    df_minority,
    replace = True,
    n_samples= len(df_majority)
)

In [83]:
df_minority_upsampling_data

     feature_1  feature_2  target
957   1.364350   1.535966       1
959   0.666001   1.894732       1
967   2.549697   3.095922       1
958   0.342491   1.927940       1
981   2.408626   3.242017       1
..         ...        ...     ...
936   3.727988   3.468919       1
945   3.383491   2.725925       1
947   1.402209   2.775845       1
990   3.063905   0.919587       1
973   2.572843   1.274827       1

[900 rows x 3 columns]

In [84]:
upsampled_data = pd.concat([df_majority,df_minority_upsampling_data])

In [85]:
upsampled_data.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [86]:
upsampled_data.shape

(1800, 3)

In [87]:
upsampled_data['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### Downsampling

In [90]:
df_minority = df[df['target']==1]
df_majority = df[df['target'] == 0]

In [92]:
from sklearn.utils import resample

df_majority_downsampling_data = resample(df_majority,
                                        replace=False,
                                        n_samples=len(df_minority))

In [94]:
df_majority_downsampling_data.shape

(100, 3)

In [96]:
downsampled_data = pd.concat([df_minority,df_majority_downsampling_data])

In [97]:
downsampled_data

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1
..         ...        ...     ...
370  -2.251535  -0.382087       0
263  -0.583537  -0.036307       0
20    0.737369   0.426702       0
792  -1.057056   0.231228       0
467   0.385066  -0.714103       0

[200 rows x 3 columns]

In [98]:
downsampled_data['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64